<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <title>{% block title %}{% endblock title %}</title>
  <style>
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh; /* Set minimum height to the viewport height */
    }

    .content {
      flex: 1; /* Allow content to grow and take remaining space */
    }

    footer {
      flex-shrink: 0; /* Prevent footer from shrinking */
    }

    /* Custom styles for the navigation bar */
    .navbar {
      background-color: #417690;
    }

    .navbar-text {
      color: #f2f0d6;
    }

    .navbar-button {
      background-color: #264B5D;
    }

    .navbar-button:hover {
      background-color: #1f3d4f; /* Slightly darker shade for hover effect */
    }

    /* Styles for the toast messages */
    .toast {
      position: fixed;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1050;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }

    .toast.show {
      opacity: 1;
    }
  </style>
</head>
<body>
  <nav class="py-2 px-6 flex justify-between navbar">
    <a href="/" class="py-2 text-2xl navbar-text mt-1 mb-1">Star Fabricators Pvt Ltd</a>
    <div class="flex flex-col items-end justify-center space-y-2">
        {% if request.user.is_authenticated %}
            <span class="navbar-text py-0 text-sm">Welcome, {{ request.user.username }}</span> 
            <div class="flex items-center space-x-4">
              {% if request.user.is_superuser %}
                <!-- Superuser sees all links -->
                <a href="{% url 'main_page' %}" class="py-1 px-5 navbar-button rounded-xl text-sm navbar-text hover:bg-gray-700">Home</a>
                <a href="{% url 'manufacturing_products' %}" class="py-1 px-5 navbar-button rounded-xl text-sm navbar-text hover:bg-gray-700">Add Manufacturing Product</a>
                <a href="{% url 'order_raw_materials' %}" class="py-1 px-5 navbar-button rounded-xl text-sm navbar-text hover:bg-gray-700">Orders Raw Materials</a>
                <a href="{% url 'inventory' %}" class="py-1 px-5 navbar-button rounded-xl text-sm navbar-text hover:bg-gray-700">Inventory</a>
                <a href="{% url 'raw_materials' %}" class="py-1 px-5 navbar-button rounded-xl text-sm navbar-text hover:bg-gray-700">Raw Materials by Vendors</a>
                <a href="{% url 'view_cart' %}" class="py-1 px-5 navbar-button rounded-xl text-sm navbar-text hover:bg-gray-700">View Cart</a>
                <a href="{% url 'products' %}" class="py-1 px-5 navbar-button rounded-xl text-sm navbar-text hover:bg-gray-700">Products</a>
                <a href="{% url 'sold_products' %}" class="py-1 px-5 navbar-button rounded-xl text-sm navbar-text hover:bg-gray-700">Sold Products</a>
              {% elif user_profile.business_type == 'customer' %}
                <!-- Customer sees limited links -->
                <a href="{% url 'main_page' %}" class="py-1 px-5 navbar-button rounded-xl text-sm navbar-text hover:bg-gray-700">Home</a>
                <a href="{% url 'my_orders' %}" class="py-1 px-5 navbar-button rounded-xl text-sm navbar-text hover:bg-gray-700">My Orders</a>
                <a href="{% url 'my_account' %}" class="py-1 px-5 navbar-button rounded-xl text-sm navbar-text hover:bg-gray-700">My Account</a>
              {% else %}
                <!-- Vendor sees these links -->
                <a href="{% url 'main_page' %}" class="py-1 px-5 navbar-button rounded-xl text-sm navbar-text hover:bg-gray-700">Home</a>
                <a href="{% url 'add_raw_material' %}" class="py-1 px-5 navbar-button rounded-xl text-sm navbar-text hover:bg-gray-700">Add Raw Material</a>
                <a href="{% url 'list_raw_materials' %}" class="py-1 px-5 navbar-button rounded-xl text-sm navbar-text hover:bg-gray-700">My Raw Materials</a>
                <a href="{% url 'orders_recieved' %}" class="py-1 px-5 navbar-button rounded-xl text-sm navbar-text hover:bg-gray-700">Orders Received</a>
                <a href="{% url 'my_orders' %}" class="py-1 px-5 navbar-button rounded-xl text-sm navbar-text hover:bg-gray-700">My Orders</a>
                <a href="{% url 'my_account' %}" class="py-1 px-5 navbar-button rounded-xl text-sm navbar-text hover:bg-gray-700">My Account</a>
              {% endif %}
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="py-1 px-5 navbar-button rounded-xl text-sm navbar-text hover:bg-gray-700">Logout</button>
                </form>
            </div>
        {% else %}
            <div class="flex">
                <a href="{% url 'login' %}" class="py-2 px-5 mr-2 navbar-button rounded-xl text-sm navbar-text hover:bg-gray-700">Log In</a>
                <a href="{% url 'signup' %}" class="py-2 px-5 navbar-button rounded-xl text-sm navbar-text hover:bg-gray-700">Sign Up</a>
            </div>
        {% endif %}
        {% if messages %}
        <div id="toast-container" class="toast-container">
            {% for message in messages %}
            <div class="toast bg-blue-500 text-white px-4 py-2 rounded shadow show">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
  </nav>

  <div class="content">
    {% block content %}
    {% endblock %}
  </div>

  <footer class="py-5 text-center bg-gray-800 text-white">
    <p class="text-base">Copyright (c) 2024 - Star Fabricators - Developed by Mohd Adeeb Contact: mohdadeeb110@gmail.com</p>
  </footer>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Get all toast elements
      const toasts = document.querySelectorAll('.toast');

      // Iterate over each toast element
      toasts.forEach((toast, index) => {
        // Set timeout for each toast to hide after 3 seconds
        setTimeout(() => {
          toast.classList.remove('show');
          toast.classList.add('opacity-0');
        }, 3000 + (index * 100)); // Delay each subsequent toast by 100ms
      });
    });
  </script>
</body>
</html>
